{% extends "base.html" %}

{% block content %}
<main class="container">
    <h1>Create New User</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <button type="submit" class="btn btn-dark">{{ form.submit.label }}</button>
    </form>
    <hr>
    <a href="{{ url_for('login') }}" class="btn btn-secondary">Back to Login</a>
</main>
{% endblock %}
